<div class="container">
  <div class="row">
    <div class="jumbotron text-center">
      <h1>Edit Your Blog</h1>
      <br>
      <p>Make your changes and submit once you are done.</p>
      <div class="row form-group">
        <input type="text" class="form-control" placeholder="Previous Title">
        <br>
        <textarea class="form-control" rows="5" cols="40" placeholder="Previous Blog Text"></textarea>
        <br>
      </div>
      <div class="row">
        <button class="btn btn-primary col-md-2">Update</button>
      </div>
    </div>
  </div>
</div>
