<div class="container">
  <div class="row">
    <div class="jumbotron text-center">
      <h1>Write Your Blog</h1>
      <br>
      <p>Fill out the fields and submit once you are done.</p>
      <div class="row form-group">
        <input type="text" class="form-control" placeholder="Title">
        <br>
        <textarea class="form-control" rows="5" cols="40" placeholder="Start writing here"></textarea>
        <br>
      </div>
      <div class="row">
        <button class="btn btn-primary col-md-2">Create</button>
      </div>
    </div>
  </div>
</div>
