<div class="container">
  <div class="row">
    <div class="jumbotron text-center">
      <h1>Blongo Signup</h1>
      <br>
      <p>Create an account</p>
      <div class="row form-group">
        <input type="text" class="form-control" placeholder="First Name">
        <br>
        <input type="text" class="form-control" placeholder="Last Name">
        <br>
        <input type="number" class="form-control" placeholder="Age">
        <br>
        <input type="text" class="form-control" placeholder="Email">
        <br>
        <input type="text" class="form-control" placeholder="Password">
        <br>
        <input type="text" class="form-control" placeholder="Confirm Password">
        <br>
        <label><input type="checkbox"> I agree to the terms of service </label>
      </div>
      <div class="row">
        <button class="btn btn-primary col-md-2">Signup</button>
      </div>
    </div>
  </div>
</div>
